<a href="https://colab.research.google.com/github/hunn1022/TIL/blob/main/%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#알고리즘 풀이
- 기초적인 코딩 과정을 익히기 위해서 사용
 - 핵심!! 반복문과 리스트. 제일 익히기 어렵고, 제일 많이 쓰는 것.
  - 반복문과 리스트 다루는 것만 잘 배워도 좋음. 
  - 여기서 확장하면 코딩 테스트를 준비하는 용도까지 사용된다. 

- 실습 사이트
  - [백준](http://www.acmicpc.net) 코딩 테스트를 위해서 활용하면 좋은 사이트
    - 난이도 별로 다양하게 문제들이 준비되어 있다.
    - 초보자부터 숙련자까지 활용 가능
  - [코드업](http://codeup.kr/index.php): 학생들을 위한 사이트
    - 초보자를 위한 문제들 다수 준비

  - [프로그래머스](https://programmers.co.kr/)
    - 코딩 테스트를 위한 사이트, 기출 문제들이 잘 모여있는 사이트

In [ ]:
print('\"!@#$%^&*()\'')

"!@#$%^&*()'

In [ ]:
print('\"C:\\Download\\\'hello\'.py\"')

"C:\Download\'hello'.py"

##

In [ ]:
print('print("Hello\\nWorld")')

print("Hello\nWorld")

In [ ]:
c= input('a')

a1

In [ ]:
c='a'

In [ ]:
print(c)

a

In [ ]:
n=float(input())

3.5

In [ ]:
n

3.5

In [ ]:
a=10
b=10

In [ ]:
a,b=map(int,input().split())
print(a)
print(b)

10 20
10 20

In [ ]:
a,b,c=input().split()

10 20 30

In [ ]:
print(b,a,c
)

20 10 30

In [ ]:
s=int(input())

1

In [ ]:
print(s,s,s)

1 1 1

In [ ]:
a,b=input().split(sep=':')

24:14

In [ ]:
print(a,b,sep=':')

24:14

In [ ]:
y,m,d='2020.3.4'.split('.')

In [ ]:
print(d,m,y,sep='.')

4.3.2020

In [ ]:
y,m,d=input().split('.')

2020.02.04

In [ ]:
t,m,s= '17:23:57'.split(':')
print(m)

23

In [ ]:
'17:23:57'.split(':')[1]

'23'

In [ ]:
read=input()

17:23:57

In [ ]:
print(read.split(':')[1])

23

## 6027
파이썬에서는 hex() 함수를 이용.
문자열 포맷팅을 이용해서도 출력 가능
- fstring, format

In [ ]:
hex(10)

'0xa'

In [ ]:
'{:x}'.format(10)

'a'

In [ ]:
f'{10:x}'

'a'

In [ ]:
a= int(input())
print(f'{a:x}')

255
ff

## 6028 
6027과 동일한 문제
- 대문자 x법을 사용하거나 
- hex를 이용하는 경우 문자열로도 처리 가능

In [ ]:
a = int(input())
print(hex(a)[2:])

255
ff

## 6029
16진수 입력받아 8진수로 출력하기 
- 알파벳 'o' 를 사용하여 변환 
- oct()
- f-strint, format을 사용할 때는 'o'를 사용해서 출력 포맷 지정 가능.

In [ ]:
a= int(input())
print(f'{a:o}')

255
377

int('a', base=16)

In [ ]:
int('a', base=16)

10

In [ ]:
a= int(input(), base=16)
print(f'{a:o}')

255
1125

## 6030
- 영문자 1개를 입력 받아서 아스키 코드 값 출력
- 파이썬에서는 ord() 함수 사용

In [ ]:
ord('a')

97

## 6031
- 입력은 기본적으로 모두 문자열로 입력되는 것이다. 
  - 따라서, 입력 값이 문자/문자열/정수/실수인지에 따라 먼저 정확하게 변환시킨 다음에 사용해야 한다. 
  - chr() 함수 사용

## 6033 
- 입력된 문자의 다음 문자 출력하기 
  - 알파벳 순으로 했을 때, 다음 문자
- 입력된 문자를 숫자로 바꾸는 작업이 선행되어야 한다.

In [ ]:
a= 'a'
print(ord(a))
next= ord(a)+1
print(chr(next))

97
b

In [ ]:
a= input()
next= ord(a)+1
print(chr(next))

a
b

## 6034

In [ ]:
f1,f2=map(float,input().split())
m= f1*f2
print(m)

12 12
144.0

In [ ]:
12

소수에 대한 버림/반올림/올림
round: 반올림

## 6036
- 단어와 반복 횟수를 입력 받아 여러 번 출력.

In [ ]:
w,n=input().split()
print(w*int(n))

love 3
lovelovelove

## 6037

In [ ]:
n = input()
s= input()
print(int(n)*s)

3
i love cs
i love csi love csi love cs

## 6038

In [ ]:
a,b=map(int, input().split())
c= a%b
print(c)

4 3
1

In [ ]:
f1,f2=map(float, input().split())
c=f1/f2
print(round(c,3))

10.0 3.0
3.333

## 6056
논리연산
- and, or, not만 지원 
- xor( 배타적 논리합)
  - 논리연산의 한 종류이지만 파이썬에서 제공하지 않는 논리 연산. 
  - 결국 and. or, not을 조합해서 새로운 논리연산 표현해야 한다.
- 배타적 논리합이라는 것은 두 명제가 서로 다를 경우에만 참이 되는 연산이라고 한다. 
- 정수에 대한 불리언 연산. 파이썬의 모든 객체는 참 거짓으로 구분 가능하다. 
  - 거짓이 되는 경우 : 0 또는 빈 객체 
  - 나머지는 모두 참이 된다.

In [ ]:
a,b= map(int,input().split())
a= bool(a)
b= bool(b)

print( (a and not b) or (not a and b))

1 1
False

In [ ]:
a,b = map ( int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print(round(a/b,2))

5 3
8
2
15
1
2
1.67

In [ ]:
a, b, c= map(int, input().split())
d= a + b + c
e= f'{d/3:.2f}'
print( d, e)

1 2 3
6 2.00

In [ ]:
a,b= map( int, input().split())
if a<b:
  print('True')
else :
  print('False')

3 5
True

In [ ]:
a,b= map( int, input().split())
if a!=b:
  print('True')
else :
  print('False')

3 5
True

In [ ]:
## 6052
n= int(input())
print(bool(n))

10
True

In [ ]:
## 6053
a= bool(int(input())) ## 이렇게 한 줄로 작성할 경우 input --> int--> bool 순서로 연산한다.
print(not a)

1
False

In [ ]:
## 6054
a,b = map(int, input().split()) 
print(bool(a)and bool(b))

1 1
True

In [ ]:
## 6055
## 6054
a,b = map(int, input().split()) 
print(bool(int(a)) or bool(int(b)))

1 0
True

In [ ]:
## 6057 
a,b = map( int, input().split())
print((not bool(a) and not bool(b)) or bool(a) and bool(b) )

1  1
True

In [ ]:
## 6058
a,b = map( int, input().split())
print(not bool(a) and not bool(b))

0 0
True

In [ ]:
## 6063
a,b= map( int, input().split())
a= int(a)
b= int(b)
c=(a if (a >= b) else b)
print(int(c))

4 2
4

## 6064
- 프로그래밍언어 소스코드 작성시 모든 요소들은
"순서에 따라 한 단계씩 실행"
"미리 정해진 순서에 따라 하나씩 연산 수행"
"그 때까지 연산된 결과를 이용해 다시 순서에 따라 하나씩 연산"
...
등의 원리가 적용된다.따라서 3항 연산을 중첩해(괄호로 묶는 등..) 이용하면 여러 값들을 순서대로 비교해 가장 큰/작은 값을 계산할 수 있다. 
- 예를 들어
(a if a>b else b) if ((a if a>b else b)>c) else c
와 같은 계산식은 a, b, c 의 값 중 가장 큰 값으로 계산된다. 잘 이해가 되지 않는다면 어떤 순서에 따라 계산될 지 생각해보고
여러 가지 연산자가 동시에 사용된 식이 있을 때, 어떤 우선순위에 따라 순서대로 계산이 되는지 찾아보도록 한다.
“연산자 우선순위”를 검색하면 우선순위와 결합방향이 나온다.
예를 들어 변수에 어떤 값을 대입하는 대입(assign) 연산자 = 의 우선순위는 가장 낮고, 오른쪽에서 왼쪽의 결합방향을 가진다.

** 3항 연산은 자주 사용되지는 않지만,
복잡한 계산식이나 조건 처리, 비교 구조를 간단히 표현할 수 있게 해준다

In [ ]:
## 6064
## 입력된 세 정수 중 가장 작은 값을 출력하는 프로그램
a, b, c= map( int, input().split())
(a if a<b else b)if((a if a < b else b)<c) else c

3 5  -1

-1

In [ ]:

## 6064
## 입력된 세 정수 중 가장 작은 값을 출력하는 프로그램
a, b, c= map( int, input().split())
print((a if a<b else b)if((a if a < b else b)<c) else c)

## 6065
- 입력받은 3개의 수 중에서 짝수만 출력

In [ ]:
a, b, c = map(int, input().split())
# a가 짝수라면?
if not a % 2 :
  print(a)
if not b % 2 :  print(b)
if not c % 2 :  print(c)

1 2 4
2
4

In [ ]:
# 6066
a, b, c= map( int, input().split())
if not a % 2: print("even")
else: print("odd") 
if not b % 2: print("even")
else: print("odd")
if not c % 2: print("even")
else: print("odd")

2 3 4
even
odd
even

In [ ]:
# 6067
a = int(input())
if a < 0 and not a % 2:
  print("A")
if a < 0 and a % 2: print("B")
if a > 0 and not a % 2: print("C")
if a > 0 and a % 2: print("D")

-2
A

In [ ]:
# 6068 
a = int(input())
if 90<= a <= 100:
  print('A')
elif 70 <= a < 90:
  print("B")
elif 40 <= a <= 70:
  print('C')
else:
  print('D')

49
C

In [ ]:
## 6069
## 문자를 입력받아서 문자에 해당하는 출력.

a = input() 
if a == 'A':
  print("best!!!")
elif  a == 'B':
  print("good!!")
elif a == 'C':
  print("run!")
elif a == 'D':
  print("slowly~")
else:
  print("what?")

b
what?

In [ ]:
## 6070
a = int(input())
if a == 12 or a== 1 or a== 2:
  print('winter')
elif a == 3 or a== 4 or a== 5:
  print("spring")
elif  a==6 or a== 7 or a== 8:
  print("summer")
elif a== 9 or a== 10 or a== 11:
  print("fall")

13

In [ ]:
## 6070
a = int(input())
if a // 3 == 1:
  print("spring")
elif a//3 == 2: 
  print("summer")
elif a // 3 == 3:
  print("fall")
else:
  print("winter")

3
spring

In [ ]:
if not 0:
  print('이거 참인가요?')
else: 
  print('거짓이죠')

이거 참인가요?

## 6071
- 0 입력될 때까지 무한 출력하기. 
  - 반복적으로 처리할 때 모든 입력을 한 번에 받아서 일괄적으로 처리할 필요 없다. 
  - 각각의 주어진 입력을 서로 다른 테스트 케이스로 보고 각각 처리하자.

In [ ]:
## 6071
### 입력이 얼마나 주어질 지 알 수 없다. 다만 0이 입력되면 더 이상 입력 받지 않아도 되는 것은 안다. 

while True:
  n=int( input())
  if n != 0:
    print(n)
  else:
    break #0이 입력되면 더 이상 처리할 필요가 없다.

1
1
0

In [ ]:
# 6071
## 줄을 바꿔서 입력이 주어진다는 것은 매 라인마다 반복적으로 입력을 처리
## input은 모든 입력을 문자열 형태로 반환!!! 잊지마라!!
n  = 1
while n != 0:
  n=int(input())
  if n != 0:
    print(n)

1
1
0

In [ ]:
# 6071
while True:
  n = int( input())
  if n != 0:
    print(n)
  else:
    break

1
1
2
2
0

In [ ]:
# 6072
a = int(input())
while (0 < a<=100):
  print(a)
  
  a = a - 1
## for를 쓰냐 while 을 쓰느냐는 문제가 아니다. 
#메모리의 변화를 알 수 있느냐가 중요하다.

5
5
4
3
2
1

In [ ]:
## 6073
a = int(input())
while(0< a <= 100):
  a= a - 1
  print(a)

4
3
2
1
0

In [ ]:
## 6074
a= input()
# 문자를 직접 증가시킬 수는 없고 아스키 코드 형태로 숫자를
# 증가시키는 형태로 되도록.

In [ ]:
## 6075
c= ord(input())
t= ord('a')
while t <= c:
  print(chr(t), end=' ') # chr() 를 이용하면 정수 값을 유니코드 문자로 출력 가능
  t += 1 # print(~~, end='') 처럼 작성하면 값 출력 후 공백문자 ''를 출력한다.
   # 즉 마지막에 줄을 바꾸지 않고 빈칸만 띄운다  

   ## end를 빼고 작성하면 한 칸씩 세로로 출력된다.

g
a b c d e f g

In [ ]:
#  6076
a= int(input())
t= 0
while t <= a:
  print(t, end=' ')
  t = t+1

10
0 1 2 3 4 5 6 7 8 9 10

In [ ]:
# 6077
n= int(input())
for i in range(n+1):
  print(i)

10
0
1
2
3
4
5
6
7
8
9
10

## for Vs. While
- for
  - 이터레이블 객체에 대해서 반복적인 연산, 즉 반드시 이터레이블 객체가 있어야만 한다. 
- while 
  - 이터레이블이 아닌 경우에 반복이 필요하다면 사용

## 12월7일 실습

In [ ]:
## 1부터 n까지의 수열을 만들어봐야 한다. 
n = int( input())
total= 0 ## 0으로 초기화 해야 저 밑에 함수에 0부터 들어감
for i in range(1, n+1):
  if i % 2: continue ## continue 를 만나면 이 밑에 함수는 시행
  total += i         ## 되지 않고 다시 위로 돌아감 

print(total)

3
2

In [ ]:
n = int( input() )
total = 0
for i in range(0, n+1, 2):
  total += i
print(total)

3
2

## 6078
- 원하는 문자가 입력될 때 까지 계속 출력

In [ ]:
while True:
  n = input()
  if n != 'q':  print(n)
  else:
    print(n)
    break

q
q

## 6081
16진수 구구단

In [ ]:
n = int( input() , base=16 ) # base가 진수를 의미한다. 
for i in range(1,16):        # 16진수 입장에서는 대소문자를 
  print(f'{n:X}*{i:X}={n*i:X}') # 구분하지 않음. 모두 숫자임

B
B*1=B
B*2=16
B*3=21
B*4=2C
B*5=37
B*6=42
B*7=4D
B*8=58
B*9=63
B*A=6E
B*B=79
B*C=84
B*D=8F
B*E=9A
B*F=A5

In [ ]:
n=2 #구구단 전체 출력하려면 n도 반복시켜야 한다. 
for n in range(2,10):
  for i in range(1,10):
    print('{}x{}={}'.format(n, i, n*i))

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

## 별찍기 
- 백준
- 중첩루프를 연습해보기 좋은 예제

In [8]:
## 제출할 때에는 n을 표준입력으로 받아서 처리해야한다!!
# n번째 줄까지 별을 찍는 문제 
# 수업시간에는 n=5 라고 가정. 5줄을 찍겠다는 의미
n = 5
# 중첩루프가 기본적으로 2개가 있어줘야 한다. 
# 첫 번째 루프는 줄을 바꿔주는 루프 
# 두 번째 루프는 라인안에서 별을 찍어주는 것
for m in range(1,n+1):
  for i in range(1, n+1):
    if  n==1:
      print('*')
    elif n==2:
      print('**')

In [11]:
n = 5
for i in range(n):
  for j in range(i+1): # i는 0부터 출발하므로 처음에 동작x
    print('*', end='')
  print()

*
**
***
****
*****

## 별찍기 2번
- 공백도 표현하기

In [64]:
# 별을 찍기전에 공백을 먼저 출력해줘야 한다. 
 
n = 5
for i in range(n):
  for k in range(n-i-1):
    print(' ', end='')
  for j in range(i+1): # i는 0부터 출발하므로 처음에 동작x
    print('*', end='')
  print()

    *
   **
  ***
 ****
*****

## 별찍기 3번 
- 1번과 동일한 문제인데 반복횟수를 반대로 가게 하

In [66]:
n = 5
for i in range(n):
  for j in range(n-i):
    print('*',end='')
  print()

*****
****
***
**
*

## 별찍기 4

In [79]:
n = 5
for i in range(n):
  for k in range(i):
    print(' ', end='')
  for j in range(n-i):
    print('*',end = '')
  print()

*****
 ****
  ***
   **
    *

## 별찍기 5

In [127]:
n=5 

for i in range(1,n+1):
  for k in range(n-i):
    print(' ', end='')
  for j in range(2*i-1):
    print('*', end='')
  for l in range(n-i):
    print(' ', end = '')
  print()

    *
   ***
  *****
 *******
*********

In [128]:
n=5 

for i in range(1,n+1):
  for k in range(n-i):
    print(' ', end='')
  for j in range(2*i-1):
    print('*', end='')
  print()

    *
   ***
  *****
 *******
*********

In [ ]:
## 별찍기 5번 강사 풀이 

n=5 

for i in range(1,n+1):
  for k in range(n-i):
    print(' ', end='')
  for j in range(2*i-1):
    print('*', end='')
  for l in range(n-i):
    print(' ', end = '')
  print()

## 다음 수업 계획 
- pandas, 시각화, sql
- 통계분석

## 루프 + 리스트
- 다차원 리스트 : 2차원까지 
```
어려움..!!!!!!!!!!!!
앞으로 다룰 데이터는 주로 2차원이다. 
인덱싱이 전부이다. 
인덱싱 하는거 진짜 연습 많이 해야한다.

```

In [136]:
## 이상한 출석 부르기 
# 24개짜리 리스트를 생각해보자. 이 때 1이 불렸으면 1번 인덱스 값을
# 증가시켜 준다. 

n = int( input() )
a = list( map(int, input().split()))

check = [0]*24
for i in range(n):
  check[a[i]] +=1
for i in range(1,24):
  print(check[i], end = ' ')

10
1 2 1 2 2 3 4 5 4 2 3 1
2 4 1 2 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [143]:
## 이상한 출석 부르기 
# 24개짜리 리스트를 생각해보자. 이 때 1이 불렸으면 1번 인덱스 값을
# 증가시켜 준다. 

n = int( input() )
a = list( map(int, input().split()))

#for i in range(n-1, -1, -1):
#  print(a[i],end=' ')
  ## 거꾸로 출력하는 방식 
#for i in a[::-1]:
#  print(i, end=' ')

#print( *a[::-1], sep=' ')

#a.reverse()
#print(*a, sep=' ')

10
1 3 5 7 9 2 4 6 8 10
10 8 6 4 2 9 7 5 3 1

In [163]:
## 이상한 출석 부르기 3번 
n = int( input() )
a = list( map(int, input().split()))

## 리스트 값을 전부 순회해야 한다. 
# 메모리를 하나 만들어서 이 메모리에는 항상 작은 값이 들어가게 하자
#min = 999999999999999999999999999999999999999999
#for i in a:
 # if min > i: min =i
#print(min)

max= -999999999999999999999999999999999999999999999999999999
for i in a:
  if max < i: max= i
print(max)

min = True
for i in a:
  if min == True or min > i:  min=i
print(min)

10
10 8 6 4 2 9 7 5 3 1
10
1

## 백준 1차원 리스트 문

In [183]:
n = int( input() )
a = list( map( int, input().split()))
mini= 999999999999999999999999999999999999999999
max= -99999999999999999999999999999999999999999999999
for i in a:
  if mini > i:  mini = i
  if max < i:  max = i 
print(mini, max)

5
20 10 35 30 7
7 35

In [187]:
A= int( input() )
B= int( input() )
C= int( input() )

multi= A*B*C
multi=[0]*9

for i in range(9):
  multi[i] += 1
for i in range(9):
  print( multi[i], end= ' ')

150
266
427
1 1 1 1 1 1 1 1 1